<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
</head>
<body>
<h1>User</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Phone number</th>
        <th>Role</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="admin"></td>
    </tr>
</table>
</body>
</html>
